*{
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
}

.login__section{
    min-height: 100vh;
    background: #007dff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.login__content{
    display: flex;
    background: white;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 50vh;
}

.login__form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 1rem;
}

.login__form__inputs{
    width: 100%;
}

.login__form__inputs > input{
    width: calc(100% - 3rem);
    padding: 1rem;
    border: none;
    background: #f2f2f2;
    border-radius: .5rem;
    margin-top: .5rem;
    outline: none;
}

.login__form__btns{
    width: calc(100% - 1rem);
    display: flex;
    gap: 1rem;
}

.login__form__btns > button{
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-weight: 500;
}

.login__form__btns > button:first-child{
    background: #007dff;
    color: white;
}

.login__form__btns > button:first-child:hover{
    box-shadow: 3px 3px 18px cornflowerblue;
}

.login__form__btns > button:last-child:hover{
    box-shadow: 3px 3px 18px lightgray;
}

/* QR AUTH */

.qr__auth{
    max-width: 320px;
    background: #f2f2f2;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;

/*  TODO Qr Auth  */

}

.qr__auth > h3{
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    font-size: 14pt;
    font-weight: 500;
    color: #007dff;
}

.qr__auth > p{
    font-size: 10pt;
    text-align: center;
    padding: .5rem 1rem;
    color: #2f2f2f;
    font-weight: 500;
}

.qr__code{
    width: 50%;
    margin: 0 auto;
}

/* Dashboard */

.dashboard__wrapper{
    display: flex;
    justify-content: stretch;
}

.sidebar__wrapper{
    width: 0;
    min-width: 240px;
    height: calc(100vh - 2em);
    background: #EEF2F7;
    padding: 1em;
    border-radius: 0 1em 1em 0;

    transform: translate(-0px, 0);
}

.dash__content{
    width: 100%;
    padding: 1em;
}


.sidebar__title{
    font-weight: 500;
    font-size: 14pt;
}

.divider{
    background-color: #d7d7d7;
    width: 100%;
    height: 1px;
    margin-top: 1em;
}

.user__info{
    background-color: #fff;
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
}

.user__actions{
    margin-top: .8em;
    display: flex;
}

.logout__btn{
    border: none;
    padding: .8em;
    border-radius: .5em;
    flex: 1;
}

.sidebar__categories{
    list-style: none;
    background-color: #ffffff;
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    gap: .5em;
}

.sidebar__items{
    display: flex;
}

.sidebar__items > a{
    display: block;
    background-color: #fbfbff;
    flex: 1;
    padding: .8em;
    border-radius: .8em;
    transition: 0.25s ease;
}

.sidebar__items > a:hover{
    display: block;
    background-color: #00afdc;
    flex: 1;
    padding: .8em;
    border-radius: .8em;
    color: whitesmoke;
}